##----------idea----------
*.iml
.idea/
*.ipr
*.iws
out/

##----------QT----------
*.jsc
*.log
*.pro
*.pro.user
*.qmake.stash
*.qmlc
*.so
*.trace
*.vagrant
.DS_Store
Mfile*
qtbox

##----------Visual_Studio-----
bin/
obj/
